# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/

# Build
/build

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python
__pycache__/
*.py[cod]

# Environment
.env
.env.local
.env.*.local
